In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("bank_marketing_train.csv")
print("df.shape = " ,df.shape)
df.head()

df.shape =  (26246, 25)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,feature_1,feature_2,feature_3,feature_4,feature_5,y
0,72,retired,married,basic.4y,no,no,no,telephone,apr,tue,...,93.075,-47.1,1.453,5099.1,1.3874,73.8872,vg1,lv1,fn1,no
1,30,admin.,single,university.degree,no,yes,no,cellular,aug,tue,...,94.027,-38.3,0.886,4991.6,1.3874,31.8872,vg2,lv1,fn2,no
2,31,unemployed,married,university.degree,no,yes,no,cellular,aug,fri,...,93.444,-36.1,4.966,5228.1,4.3904,35.8872,vg3,lv1,fn3,no
3,37,admin.,married,high.school,no,yes,yes,cellular,nov,mon,...,92.649,-30.1,0.722,5017.5,1.3874,38.8872,vg4,lv1,fn4,no
4,53,unemployed,divorced,basic.9y,unknown,no,no,telephone,may,thu,...,93.994,-36.4,4.860,5191.0,2.3884,55.8872,vg5,lv1,fn5,no

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26246 entries, 0 to 26245
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             26246 non-null  int64
 1   job             26246 non-null  object
 2   marital         26246 non-null  object
 3   education       26246 non-null  object
 4   default         26246 non-null  object
 5   housing         26246 non-null  object
 6   loan            26246 non-null  object
 7   contact         26246 non-null  object
 8   month           26246 non-null  object
 9   day_of_week     26246 non-null  object
 10  campaign        26246 non-null  int64
 11  pdays           26246 non-null  int64
 12  previous        26246 non-null  int64
 13  poutcome        26246 non-null  object
 14  emp.var.rate    26246 non-null  float64
 15  cons.price.idx  26246 non-null  float64
 16  cons.conf.idx   26246 non-null  float64
 17  euribor3m       26246 non-null  float64
 18  nr.employed     26246 non-null  float64
 19  feature_1       26246 non-null  float64
 20  feature_2       26246 non-null  float64
 21  feature_3       26246 non-null  object
 22  feature_4       26246 non-null  object
 23  feature_5       26246 non-null  object
 24  y               26246 non-null  object
dtypes: float64(7), int64(4), object(14)
memory usage: 5.0+ MB

In [3]:
# 避免污染原始数据，先复制一个数据
df_clean = df.copy()

In [4]:
df_clean.columns.tolist()

['age',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'feature_1',
 'feature_2',
 'feature_3',
 'feature_4',
 'feature_5',
 'y']

In [5]:
# 把999改为-1，方便后面标准化
df_clean['pdays'] = df_clean['pdays'].replace(999,-1)
df_clean['pdays'].value_counts().head()

pdays
-1     25206
 3       310
 6       288
 4        84
 12       41
Name: count, dtype: int64

In [6]:
# 观察类别不平衡情况
df_clean['y'].value_counts(normalize=True)

y
no     0.881049
yes    0.118951
Name: proportion, dtype: float64

In [7]:
unknown_counts = (df_clean == "unknown").sum()
unknown_counts[unknown_counts > 0]

job           224
marital        49
education    1154
default      5552
housing       650
loan          650
dtype: int64

In [8]:
# 把y变成0/1变量
df_clean['y'] = df_clean['y'].map({'yes': 1, 'no': 0})
df_clean['y'].value_counts()

y
0    23124
1     3122
Name: count, dtype: int64

In [9]:
# 找出数值列
numeric_cols = df_clean.select_dtypes(include=['int64','float64']).columns  #include包括，exclude删除
numeric_cols

Index(['age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'feature_1', 'feature_2', 'y'],
      dtype='object')

In [10]:
# 查看每个数值列的大致统计特征
df_clean[numeric_cols].describe()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,feature_1,feature_2,y
count,26246.000000,26246.00000,26246.000000,26246.000000,26246.000000,26246.000000,26246.000000,26246.000000,26246.000000,26246.0000,26246.000000,26246.000000
mean,40.154538,2.66574,-0.725863,0.181704,0.059598,93.580828,-40.491404,3.597076,5165.540197,inf,43.707477,0.118951
std,10.450543,2.87869,1.538588,0.506030,1.578188,0.586050,4.646433,1.743984,73.224175,NaN,10.850257,0.323738
min,17.000000,1.00000,-1.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,1.3874,19.887200,0.000000
25%,32.000000,1.00000,-1.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000,1.3874,34.887200,0.000000
50%,38.000000,2.00000,-1.000000,0.000000,1.100000,93.876000,-41.800000,4.857000,5191.000000,2.3884,41.887200,0.000000
75%,47.000000,3.00000,-1.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,3.3894,50.887200,0.000000
max,98.000000,56.00000,25.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,inf,99.887200,1.000000

In [11]:
# 发现F1有异常值，处理掉
df_clean['feature_1'].replace([np.inf, -np.inf], np.nan).isna().sum()

np.int64(11)

In [12]:
# 中位数替换异常值
df_clean['feature_1'] = df_clean['feature_1'].replace([np.inf, -np.inf], np.nan)
median_val = df_clean['feature_1'].median()
df_clean['feature_1'] = df_clean['feature_1'].fillna(median_val)

In [13]:
# 检查是否还有异常值
np.isinf(df_clean.select_dtypes(include=['float64', 'int64'])).sum()

age               0
campaign          0
pdays             0
previous          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
feature_1         0
feature_2         0
y                 0
dtype: int64

In [14]:
# 检查是否还有缺失值
df_clean.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
feature_1         0
feature_2         0
feature_3         0
feature_4         0
feature_5         0
y                 0
dtype: int64

In [15]:
categorical_cols = df_clean.select_dtypes(include=['object']).columns.tolist()
categorical_cols

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'poutcome',
 'feature_3',
 'feature_4',
 'feature_5']

In [16]:
from sklearn.preprocessing import LabelEncoder
df_tree_ready = df_clean.copy()
label_encoders = {} #保存到test数据中

for col in categorical_cols:
    # 为该列创建一个 LabelEncoder 实例
    le = LabelEncoder()
    
    # fit_transform 的两步操作：
    #   fit():    学习列中有哪些类别（如 ['yes','no','unknown']）
    #   transform(): 将类别转换成整数（如 [0,1,2]）
    df_tree_ready[col] = le.fit_transform(df_tree_ready[col])
    
    # 把训练好的 encoder 存进字典，后续 test 数据要用
    label_encoders[col] = le

# 再检查一次
df_tree_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26246 entries, 0 to 26245
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             26246 non-null  int64
 1   job             26246 non-null  int64
 2   marital         26246 non-null  int64
 3   education       26246 non-null  int64
 4   default         26246 non-null  int64
 5   housing         26246 non-null  int64
 6   loan            26246 non-null  int64
 7   contact         26246 non-null  int64
 8   month           26246 non-null  int64
 9   day_of_week     26246 non-null  int64
 10  campaign        26246 non-null  int64
 11  pdays           26246 non-null  int64
 12  previous        26246 non-null  int64
 13  poutcome        26246 non-null  int64
 14  emp.var.rate    26246 non-null  float64
 15  cons.price.idx  26246 non-null  float64
 16  cons.conf.idx   26246 non-null  float64
 17  euribor3m       26246 non-null  float64
 18  nr.employed     26246 non-null  float64
 19  feature_1       26246 non-null  float64
 20  feature_2       26246 non-null  float64
 21  feature_3       26246 non-null  int64
 22  feature_4       26246 non-null  int64
 23  feature_5       26246 non-null  int64
 24  y               26246 non-null  int64
dtypes: float64(7), int64(18)
memory usage: 5.0 MB

# 标准化数据，对logistic regression等模型用

In [54]:
df_lrsvm_ready = df_clean.copy()
categorical_cols

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'poutcome',
 'feature_3',
 'feature_4',
 'feature_5']

In [55]:
df_lrsvm_ready = pd.get_dummies(
    df_lrsvm_ready,
    columns=categorical_cols,
    drop_first=False
)
df_lrsvm_ready.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26235 entries, 0 to 26245
Columns: 276 entries, age to feature_5_fn90
dtypes: bool(264), float64(7), int64(5)
memory usage: 9.2 MB

In [56]:
# 将所有 bool 类型的列转为 float，提高模型兼容性
bool_cols = df_lrsvm_ready.select_dtypes(include=['bool']).columns
df_lrsvm_ready[bool_cols] = df_lrsvm_ready[bool_cols].astype(float)

df_lrsvm_ready.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26235 entries, 0 to 26245
Columns: 276 entries, age to feature_5_fn90
dtypes: float64(271), int64(5)
memory usage: 55.4 MB

In [57]:
# 1. y 是标签列
y_lrsvm = df_lrsvm_ready['y']

# 2. X 是除了 y 之外的所有特征
X_lrsvm = df_lrsvm_ready.drop(columns=['y'])

# 查看一下结果
X_lrsvm.shape, y_lrsvm.shape

((26235, 275), (26235,))

In [58]:
from sklearn.preprocessing import StandardScaler

# 1. 创建 StandardScaler 实例
#    参数说明：
#    - with_mean=True：对每列减去均值（默认）
#    - with_std=True：除以标准差（默认）
#    这是最常用的 Z-score 标准化
scaler = StandardScaler()

# 2. 使用训练集拟合 scaler（学习每一列的 mean 和 std）
#    注意：这里不能对 test 数据 fit！否则数据泄露。
scaler.fit(X_lrsvm)

# 3. 对训练集进行标准化，把数值缩放到 N(0,1)
X_lrsvm_scaled = scaler.transform(X_lrsvm)

# 4. transform 输出是 numpy array，我们转回 DataFrame，保持列名一致
X_lrsvm_scaled = pd.DataFrame(
    X_lrsvm_scaled,
    columns=X_lrsvm.columns,
    index=X_lrsvm.index
)

# 查看形状确认
X_lrsvm_scaled.shape

(26235, 275)

In [17]:
# 保存数据
df_tree_ready.to_csv("tree_data_clean.csv", index=False)

In [ ]:
# 保存标准化后的特征矩阵
X_lrsvm_scaled.to_csv("lrsvm_X_scaled.csv", index=False)
# 保存 y
y_lrsvm.to_csv("lrsvm_y.csv", index=False)

In [60]:
# 保存scaler
import joblib

# 保存 scaler
joblib.dump(scaler, "lrsvm_scaler.pkl")

['lrsvm_scaler.pkl']